{% extends "blog/base.html" %}
{% block title %}<title>{{post.author}}'s post</title>{% endblock %}
{% load static %}

{% block bootstrapClass %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/blog-css/post-details.css' %}">
 {% endblock %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content|safe }}</p>
    </div>
  </article>


  {% if displayReactionButton %}

  <!-- LIKE FORM  -->
    <form action="{% url 'like-post' %}" method="POST">
      {% csrf_token %}

      <input type="hidden" name="post_id_from_form" value="{{post.id}}">
      {% if user not in post.liked.all %}

      <button type="submit">Like</button>

      {% else %}
      <button type="submit">Unlike</button>

      {% endif %}
    </form>

  {% endif %}

  <strong style="color: white;">Like: {{post.liked.all.count}}</strong>
  

  {% if displayCommentSection %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h3>comments</h3>

        <strong><p style="color:black">Total {{comments.all.count}} comments from {{post.commented.all.count}} people</p></strong>
        <div class="row">
          <div class="col-6">
            {% for comment in comments%}
            <div class="post-detail-comment-section-wrap">
              
              <div class="post-detail-each-comment">
                <img class="post-detail-profile-picture rounded-circle article-img" src="{{ comment.user.profile.image.url }}">
               <a href="{% url 'user-posts' comment.user %}"><p class="post-detail-commented-by" > <strong>{{comment.user}}</strong>:  </p></a> 
                <p class='post-detail-comment' ><strong>comment:</strong>  {{comment.user_comment}} </p>
              </div>
              {% if comment.user == request.user %}
              <form action="{% url 'remove-comment' %}" method="POST">
                {% csrf_token %}
                <button name='comment_id' value={{comment.id}} type="submit">Remove</button>
              </form>
              {% endif %}
            </div>
            <hr style='color:black'>
            {% endfor %}
          </div>
          <div class="col-4">

        <!-- Comment Form  -->
        <h2>Add a new comment</h2>
     
        <form action="{% url 'comment-post'  %}" method="POST">
          {% csrf_token %}
              <input type="hidden" name="post_id_from_form"  value="{{post.id}}" tabindex="1" >  
              <textarea  name="user_comment_from_form" value="{{comments.user_comment}}" id="comment" rows="5" cols="50" tabindex="10"  required="required"></textarea>
              <label for="comment" class="required">Add a comment</label>
              <button type="submit">Post</button> 
          </div>
        </form> 
      </div>
    </div>

  </article>

  
  {%else%}
  <h3 style="color:white">Total {{post.commented.all.count}} people commented</h3>
  {% endif %}

{% endblock content %}





