
#Test Home view with carousel 
============================================================


{% extends "blog/base.html" %}
{% block content %}

  {% for post in all_posts %}
  <div class="home-post-main-wrap">
   
    <div id="home-carousel" class="carousel home-carousel slide" data-ride="carousel">
      <div class="carousel-inner home-carousel-inner">
        <div class="carousel-item home-carousel-item active">
     
            <div class="home-image-wrap">
                <img  src="{{post.author.profile.image.url}}" alt="img">
            </div>

            <div class="post-author">
             <p> Post By <a class="post-author-link" href="{% url 'user-posts' post.author.username  %}"> {{post.author}}</a></p>  
            </div>

            <div class="post-date">
              <p >{{post.date}}</p>
            </div>
            
            
            <div class="post-title">
              <p>{{post.title}}</p>
            </div>

            <div class="post-content">
              <p>{{post.content|slice:"0:100"}} <a class="post-content-link" href="{% url 'post-detail' post.id %}"> ...</a></p>
  
            </div>   
        </div>

     
      </div>
  

      <div class="home-carousel-control">
      <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>

  </div>
  {% endfor %}
    <!-- {% endfor %}   -->
 
    {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}
{% endblock content %}



test home view without carousel
========================================

===============================================
{% extends "blog/base.html" %}
{% block content %}


  <div class="home-post-main-wrap">

    <div class="home-carousel">

      <div class="home-carousel-inner">
        {% for post in all_posts %}
        <div class="home-carousel-item">
          

            <div class="home-image-wrap">
                <img  src="{{post.author.profile.image.url}}" alt="img">
            </div>

            <div class="post-author">
             <p> Post By <a class="post-author-link" href="{% url 'user-posts' post.author.username  %}"> {{post.author}}</a></p>  
            </div>

            <div class="post-date">
              <p >{{post.date}}</p>
            </div>
            
            
            <div class="post-title">
              <p>{{post.title}}</p>
            </div>

            <div class="post-content">
              <p>{{post.content|slice:"0:100"}} <a class="post-content-link" href="{% url 'post-detail' post.id %}"> ...</a></p>
  
            </div>   
        </div>
        {% endfor %}
        
      </div>
     </div>
 
      </div>
  
  

 
    {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}
{% endblock content %}




POST DETAILS VIEW 
==============================================

{% extends "blog/base.html" %}
{% block title %}<title>{{object.author}}'s post</title>{% endblock %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>

  
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        <h3>Detailed comments</h3>
  </article>

{% endblock content %}


new post DETAILS view 
==========================



{% extends "blog/base.html" %}
{% block title %}<title>{{post.author}}'s post</title>{% endblock %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>


  {% if displayReactionButton %}

    <form action="{% url 'like-post' %}" method="POST">
      {% csrf_token %}

      <input type="hidden" name="post_id_from_form" value="{{post.id}}">
      {% if user not in post.liked.all %}

      <button type="submit">Like</button>

      {% else %}
      <button type="submit">Unlike</button>

      {% endif %}
    </form>

  {% endif %}

  
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        <h3>Detailed comments</h3>
  </article>

{% endblock content %}

POst details form
=====================

<!-- 
<form action="{% url 'comment-post' %}" method="POST">
  {% csrf_token %}
      <input type="hidden" name="post_id_from_form"  value="{{post.id}}" tabindex="1" >  
      <textarea  name="user_comment_from_form" value="{{comments.user_comment}}" id="comment" rows="5" cols="50" tabindex="10"  required="required"></textarea>
      <label for="comment" class="required">Add a comment</label>
      <button type="submit">Post</button> 
  </div>
</form> -->

<!-- {% if new_comment %}
<h2>Your comment has been added.</h2>
{% else %}
<h2>Add a new comment</h2>
<form action="." method="post">
  {{ comment_form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Add comment"></p>
</form>
{% endif %} -->


User Posts 
========================================

{% extends "blog/base.html" %}

{% block content %}

<h2 style="color:white;" class="mb-3 user-posts-title" > There are {{page_obj.paginator.count}} posts by {{ view.kwargs.username }}  </h2>
{% for post in all_posts %}
{% if following %}
<form action="{% url 'follow-unfollow-view' %}" method="POST">
    {% csrf_token %}

    <input type="hidden" name="view_profile_pk" value="{{post.author.profile.id}}">
    <button type="submit">Unfollow</button>
</form>

{% else %}
<form action="{% url 'follow-unfollow-view' %}" method="POST">
    {% csrf_token %}

    <input type="hidden" name="view_profile_pk" value="{{post.author.profile.id}}">
    <button type="submit" >Follow</button>
</form>

{% endif %}
{% endfor %}
<br>
  
    {% for post in all_posts %}
        <article class="media content-section"> 

          <img class="rounded-cirle article-img" src="{{post.author.profile.image.url}}" alt="">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small>{{ post.date|date:"F d, Y" }}  Likes:{{post.liked.all.count}}  Comments:{{post.commented.all.count}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
  
    {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}
{% endblock content %}




visit-profile Initial code 
==============================



{% extends "blog/base.html" %}
<!-- {% block title %}<title>{{view.kwargs.username }}</title>{% endblock %} -->

{%load static %}

{% block bootstrapClass %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/blog-css/visit-profile.css' %}">
 {% endblock %}


{% load crispy_forms_tags %}

{% block content %} 


<div class="visit-profile-wrap">
    <div class="media visit-profile-head">
      <img class=" visit-profile-profile-picture rounded-circle account-img" src="{{ viewProfile.image.url }}">

        <h2 class="visit-profile-username account-heading">{{viewProfile.user}}</h2>

    </div>

    <div class="content-section visit-profile-row row">

      <div class=" visit-profile-info col-lg-6 col-md-6 col-sm-12">
       
        <div class="visit-profile-user-post-titles">

          {% if no_post %}

          <ul>
            <li class="visit-profile-post-title-li"><a href="">{{viewProfile.user}} does not have any post yet</a></li>
          </ul>

          {% endif %}

          <h5>{{viewProfile.user}} has {{viewProfilePosts.count}} posts</h5>
          <h5>Top Posts</h5>
          {% for post in viewProfilePosts %} 

          {% if post.liked.count in top %}
         
          <ul>
            <li class="visit-profile-post-title-li"><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></li>
          </ul>

           {% endif %} 

           {% endfor %}
          

          </div>
          <p class="visit-profile-about-me"><strong>about {{viewProfile.user}}: </strong>bjfsjfjsjhf</p>
     
          <p class="visit-profile-userEmail"><strong>Email: </strong>{{viewProfile.user.email}}</p>
          </div>


          <!-- Following list  -->
          <div class="follower-following-info col-lg-6 col-md-6 col-sm-12">
         
            {% if viewProfile.follow.all.count > 1 %}
            <h5 class="visit-profile-following-list-count-text">{{viewProfile.user}} follows {{viewProfile.follow.all.count}} users</h5>
            {% else %}
            <h5 class="visit-profile-following-list-count-text">{{viewProfile.user}} follows {{viewProfile.follow.all.count}} user</h5>
            {% endif %}
  
            <div class="visit-profile-following-info-wrap">
            {% for profile in viewProfile.follow.all %}
            <a href="{% url 'user-posts' profile.profile.user %}"><img class=" visit-profile-follow-image rounded-circle account-img" src="{{profile.profile.image.url}}" alt="following image"></a>
            {% endfor %}
          </div>
          <p><a href="{% url 'visit-profile-following-list' viewProfile.user %}">Sell All</a><p>
          

          <!-- Followers list  -->
          {% if viewProfile.follower.all.count > 1 %}
          <h5 class="visit-profile-following-list-count-text" >{{viewProfile.user}} is followed by {{viewProfile.follower.all.count}} users</h5>
          {% else %}
          <h5 class="visit-profile-following-list-count-text" >{{viewProfile.user}} is followed by {{viewProfile.follower.all.count}} user</h5>
          {% endif %}

          <div class="visit-profile-follower-info-wrap">
          {% for profile in viewProfile.follower.all %}
          <a href="{% url 'user-posts' profile.profile.user %}"><img class=" visit-profile-follower-image rounded-circle account-img" src="{{profile.profile.image.url}}" alt="followers image"></a>
          {% endfor %}
        </div>
        
          <p><a href="{% url 'visit-profile-follower-list' viewProfile.user %}">Sell All</a><p>
          </div>


          </div>

{% endblock content %}




















