{% extends "blog/base.html" %}
{% block title %}<title>Your Follower's List</title>{% endblock %}

{%load static %}
{% block bootstrapClass %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/blog-css/visit-profile-following-list.css' %}">
 {% endblock %}


{% load crispy_forms_tags %}

{% block content %} 

    <div class="media visit-profile-following-list-head">
      <img class=" visit-profile-following-list-profile-picture rounded-circle account-img" src="{{ viewProfile.image.url }}">
        <h2 class="visit-profile-following-list-currentUser-username account-heading">{{viewProfile.user}}</h2>
    </div>

    <div class="visit-profile-following-list-wrap">
        <div class="visit-profile-following-list-header">
            <p class="visit-profile-following-list-count">{{viewProfile.user}} follows {{following_Profiles.count}} profiles</p>
            <p class="visit-profile-following-list-header-text">Profiles {{viewProfile.user}} is following-</p>
        </div>

        {% for profile in following_Profiles %}
        <div class="visit-profile-following-list-card">

            <img src="{{profile.image.url}}" alt="user-profile-picture" class="visit-profile-following-list-card-profile-picture rounded-circle account-img">

            <div class="visit-profile-following-list-card-info">
                <p class="visit-profile-following-list-card-username">{{profile.user.username}}</p>

          
                <p class="visit-profile-following-list-post-count">{{profile.user.username}} has <strong>{{ following_Profile_Posts.count}} posts</strong></p>

            </div>
            
            <p class="visit-profile-following-list-some-text">fkjdshfjhfjhjhfjhfashfjfhjdhfjdhfjkhfjhjkhfjdhjfh</p>

        </div>


        {% endfor %}
    </div>

    {% endblock %}