
{% extends "blog/base.html" %}
{% block title %}<title>{{user.username}}</title>{% endblock %}

{%load static %}

{% block bootstrapClass %}

<link rel="stylesheet" type="text/css" href="{% static 'users/users-css/profile.css' %}">
 {% endblock %}


{% load crispy_forms_tags %}

{% block content %} 


<div class="profile-wrap">
    <div class="media profile-head">
      <img class=" profile-profile-picture rounded-circle account-img" src="{{ user.profile.image.url }}">
      <!-- <div class="media-body"> -->
        <h2 class="profile-username account-heading">{{user.username}}</h2>
      <!-- </div> -->
    </div>
   

    <div class="content-section profile-row row">

      <div class=" profile-info col-6">
       
        <div class="profile-user-post-titles">

          {% if not no_post %}

          <ul>
            <li class="profile-post-title-li"><a href="">You do not have any post yet</a></li>
          </ul>

          {% endif %}
          <h5>{{user.username}} has {{current_user_posts.count}} posts</h5>
          <h5>Top Posts</h5>
          {% for t in top_likes%}

          {% if one_post %}

          <ul>
            <li class="profile-post-title-li"><a href="{% url 'post-detail' t.id %}">{{t.title}}</a></li>
          </ul>

          {% elif two_posts %}

          <ul>
            <li class="profile-post-title-li"><a href="{% url 'post-detail' t.id %}">{{t.title}}</a></li>
            <li class="profile-post-title-li"><a href="{% url 'post-detail' t.id %}">{{t.title}}</a></li>
          </ul>

          {% elif three_posts%}

          <ul>
            <li class="profile-post-title-li"><a href="{% url 'post-detail' t.id %}">{{t.title}}</a></li>
            <li class="profile-post-title-li"><a href="{% url 'post-detail' t.id %}">{{t.title}}</a></li>
            <li class="profile-post-title-li"><a href="{% url 'post-detail' t.id %}">{{t.title}}</a></li>
          </ul>

          {% else %}

          <h1>Hope it doesn't come down to this</h1>

          {% endif %}

          {% endfor %}
        </div>
      
        <p class="profile-about-me"><strong>about {{user.username}}: </strong>bjfsjfjsjhf</p>
     
        <p class="profile-userEmail"><strong>Email: </strong>{{user.email}}</p>
 

        </div>

        <div class="follower-following-info col-6">
         
        
          <h5>{{user.username}} follows {{follow_profiles.count}} people</h5>

          <div class="profile-following-info-wrap">
          {% for profile in follow_profiles %}
          <a href="{% url 'user-posts' profile.user.username %}"><img class=" profile-follow-image rounded-circle account-img" src="{{profile.image.url}}" alt="following image"></a>
          {% endfor %}
        </div>
        <p><a href="{% url 'profile-following-list' user.username %}">Sell All</a><p>
        
        <h5>{{user.username}} is followed by {{follower_profiles.count}} people</h5>
        <div class="profile-follower-info-wrap">
        {% for profile in follower_profiles %}
        <a href="{% url 'user-posts' profile.user.username %}"><img class=" profile-follower-image rounded-circle account-img" src="{{profile.image.url}}" alt="followers image"></a>
        {% endfor %}
      </div>
      
        <p><a href="{% url 'profile-follower-list' user.username %}">Sell All</a><p>
        </div>

      </div>

        <button><a href="{% url 'profile-update' %}">Update Profile</a></button>
      </div>
{% endblock content %}


